body {
    margin: 0;
    font-family: 'Oswald', sans-serif; 
}
#food_network{
    margin: 50px 0px;
}
.flex {
    display: flex;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
p{
    text-align: justify;
    font-size: 18px;
}
.food_network_content {
    margin-left: 50px;
}
img{
    width: 100%;
}
.food_network_img img {
    margin-right: 100px;
}
.font_color {
    color: #e67e22;
}
.link_style {
    text-decoration: none;
    background: linear-gradient(#d35400, #f39c12);
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    display: inline-block;
}
#about_us_area {
    border: 2px solid black;
}  
.about_me_img img {
    margin-left: 50px;
}
.about_me_content {
    width: 40%;
    margin: auto;
}
.recipes_content {
    width: 70%;
    margin: auto;
    text-align: center;
}
.my_recipes_wrapper {
    display: flex;
}
.recipes_box {
    width: 30%;
    margin: 2% 3%;
    box-shadow: 10px 10px 40px gray;
    padding: 15px;
    border-radius: 10px;
}
.recipes_box img {
    border-radius: 10px;
}