body {
    margin: 0;
    font-family: 'Oswald', sans-serif; 
}
#food_network{
    margin: 50px 0px;
}
.flex {
    display: flex;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
p{
    text-align: justify;
    font-size: 18px;
}
.food_network_content {
    margin-left: 50px;
}
img{
    width: 100%;
}
.food_network_img img {
    margin-right: 100px;
}
.font_color {
    color: #e67e22;
}
.link_style {
    text-decoration: none;
    background: linear-gradient(#d35400, #f39c12);
    padding: 10px 20px;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    display: inline-block;
}
